@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
    margin: 0;
    font-family: 'Merriweather', serif;
}
h1, h2, h3, h4 {
    text-align: center;
}
header {
    margin: 0;
    padding: 40px 0 0 0;
    text-align: center;
}
header h1 {
    font-size: 42px;
    margin-bottom: 10px;
    color: #666;
}
header nav a {
    padding-right: 5px;
    padding-left: 5px;
}
header nav a:link, header nav a:visited {
    color: black;
    text-decoration: none;
}
header nav a:hover {
    text-decoration: underline;
}
#orthocal {
    margin: 3% auto;
    width: 75%;
    text-align: center;
}
#orthocal h1 {
    margin-top: 0;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 5px solid #eee;
}
#orthocal div {
    text-align: left;
}
#orthocal button {
    background-color: #666;
    color: white;
    padding: 10px;
    margin: 2px;
    border: 1px solid #666;
}
#orthocal button:hover {
    background-color: white;
    color: black;
    border: 1px solid #444;
}
.passage {
    columns: 3 20em;
    column-gap: 2em;
    column-rule: 1px solid #ddd;
    padding-bottom: 4em;
}
.passage h4 {
    margin-top: 0;
}
.passage p {
    text-indent: 1em;
    margin: 0;
}
.passage p .verse-number {
    vertical-align: super;
    font-size: 75%;
    color: gray;
}
.day>p {
    text-align: center;
}
.day section {
    text-align: left;
}
label {
    margin-top: 35px;
}
.commemorations ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
.commemorations li {
    display: inline;
}
.commemorations li:last-child:after {
    content: "";
}
.commemorations li:after {
    content: "; ";
}
.feasts ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
.feasts li {
    display: inline;
}
.feasts li:last-child:after {
    content: "";
}
.feasts li:after {
    content: "; ";
}
